<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <title>About Computed Properties of VueJs </title>

</head>

<body>
    <div id="view-app">
        {{rume()}}
        <br> </br>
        <input type="text" v-model="meter" placeholder="Length of meter">
        <br> </br>
        <h4>Meter convert into centmeter:{{convetMeterto}}</h4>
        <br> </br>
        <input type="text" placeholder="Enter last name" v-model="firstname">
        <input type="text" placeholder="Enter last name" v-model="lastname">
        <br> </br>
        <h1>fullName:{{ getFulllname }}</h1>
        <br> </br>
        <input type="text" v-model="math" placeholder="enter marks of math">
        <input type="text" v-model="computer" placeholder="enter marks of computer">
        <input type="text" v-model="english" placeholder="enter marks of english">
        <br> </br>
        <h3>Total Marks of Subject:{{totalMarks}}</h3>
    </div>
    <script src="main.js"></script>
</body>

</html>